<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<mat-toolbar>
    <span>Tweeter</span>
</mat-toolbar>

<body class="container">
    <form [formGroup]="registerForm" (ngSubmit)="processRegistration()">
        <h2 style="display: flex; justify-content: center;">Please enter your details</h2>
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" placeholder="Username" formControlName="username"></td>
            </tr>
            <tr>
                <td>Name: </td>
                <td><input type="text" placeholder="Name" formControlName="name"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="email" placeholder="Email address" formControlName="email"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <div class="password-container">
                    <input type="password" placeholder="Password" formControlName="password" [type]="showPassword ? 'text' : 'password'"> 
                    <i alt="show" class="far fa-eye eye-show" (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
                </div>
            </tr>
        </table>
        <button type="submit" class="btn btn-dark btn-block w-100" style="align-items: center;" [disabled]="registerForm.invalid">Sign Up</button>
    </form>
</body>


